<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--设置数据库的路径，例如程序文件夹放在D盘根目录下，则connectionString设置为Data Source=D:\LotteryApp\Lottery.db3-->
    <!--<add name="LotterySQLite" connectionString="Data Source=Lottery.db3" providerName="System.Data.SQLite"/>-->
  </connectionStrings>
  <appSettings>
    <!--赔率的四舍五入设定，例如：设置value为0.95，即小于0.95时舍去，大于等于0.95时进位-->
    <add key="Rounding" value="0.95"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
